.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background-color: var(--card-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;

}

.navbar-brand {
  text-decoration: none;
  color: #1877f2;
  min-width: 161px;

}

.navbar-brand h2 {
  margin: 0;
  font-size: 20px;
}

/* --- CLASES DE VISIBILIDAD --- */
.mobile-only {
  display: flex;
}

.desktop-only {
  display: none !important;
}




/* --- ESTILOS DEL MENÚ (MOBILE FIRST) --- */
.navbar-menu {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 20px;
  background-color: var(--card-bg);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Se muestra cuando el estado es true */
.navbar-menu.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

}

/* --- BOTONES Y ICONOS --- */
.menu-toggle,
.theme-icon-button,
.settings-icon {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.settings-icon:hover {
  animation: spin 3s linear infinite;
}



/* --- ESTILOS TOGGLES --- */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #bebdbd;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.theme-switch input:checked+.slider {
  background-color: var(--color-primary);
}

.theme-switch input:checked+.slider::before {
  transform: translateX(26px);
}


.navbar-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  transition: color 0.1s;
}

.navbar-menu a:hover {
  color: var(--color-primary-hover);
}


/* --- DESKTOP REFACTOR (1024px+) --- */
@media (min-width: 1024px) {
  .navbar-brand h2 {
    font-size: 24px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex !important;
  }

  .menu-toggle {
    display: none;
  }

  .navbar-menu {
    display: flex;
    position: static;
    flex-direction: row;
    box-shadow: none;
    padding: 0;
    background: transparent;
    gap: 30px;
  }

  .navbar-actions {
    gap: 30px;
  }
}